h2.child-title {
    visibility: visible;
    text-align: center;
}

h2 span.heading-text-1 {
    color: #fff;
}

/* Layout Elements */

.container.demo-1.grid-demo {
    display: grid;
    min-height: 100vh;

    grid-template-columns: repeat(2 , auto);
    grid-template-rows: 100px repeat(4 , auto) 50px auto;
    grid-template-areas: 'LOGO SOCIAL' 'SEARCH SUBSCRIBE' 'MAIN MAIN' 'SIDE1 SIDE2' 'SIDE1 LOGIN' 'FOOTER FOOTER' 'EXTRA .';
    grid-auto-rows: auto;
}

.container.box {
    display: block;
    -ms-flex-align: start;
    background-color: #f05100;

    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    align-items: flex-start;
}

.container.box.logo {
    background-color: #fff;

    grid-area: LOGO;
}

.container.box.extra {
    visibility: hidden;

    grid-area: EXTRA;
}

.container.box.social {
    grid-area: SOCIAL;
}

.container.box.search {
    grid-area: SEARCH;
}

.container.box.subscribe {
    grid-area: SUBSCRIBE;
}

.container.box.side1 {
    grid-area: SIDE1;
}

.container.box.main {
    grid-area: MAIN;
}

.container.box.side2 {
    grid-area: SIDE2;
}

.container.box.login {
    grid-area: LOGIN;
}

.container.box.footer {
    grid-area: FOOTER;
}

div.responsive-picture.picture-1 {
    width: auto;
    height: auto;
}

div.responsive-picture.picture-1 > picture > img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left top;
    object-position: left top;
}

div.responsive-picture.picture-1 > picture {
    height: auto;
}

@media screen and (min-width: 40rem) {
    /* Text Elements */

    h2.child-title {
        grid-area: auto;
    }

    /* Layout Elements */

    .container.demo-1.grid-demo {
        display: grid;
        min-height: 100vh;
        max-width: none;
        max-height: none;

        grid-template-columns: repeat(3 , auto);
        grid-template-rows: 100px 50px 1fr 100px 50px;
        grid-template-areas: 'LOGO EXTRA SOCIAL' 'SEARCH SEARCH SUBSCRIBE' 'SIDE1 MAIN SIDE2' 'SIDE1 MAIN LOGIN' 'FOOTER FOOTER FOOTER';
        grid-auto-rows: 1fr;
    }

    .container.box {
        display: block;

        grid-area: SUBSCRIBE;
    }

    .container.box.logo {
        grid-area: LOGO;
        justify-self: auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 6px;
        -moz-box-flex: 0;
        -ms-flex: 0 1 6px;
        flex: 0 1 6px;
    }

    .container.box.extra {
        visibility: visible;

        grid-area: EXTRA;
    }

    .container.box.social {
        grid-area: SOCIAL;
    }

    .container.box.search {
        grid-area: SEARCH;
    }

    .container.box.side1 {
        grid-area: SIDE1;
    }

    .container.box.main {
        grid-area: MAIN;
    }

    .container.box.side2 {
        grid-area: SIDE2;
    }

    .container.box.login {
        grid-area: LOGIN;
    }

    .container.box.footer {
        grid-area: FOOTER;
    }

    .container.box.subscribe {
        grid-area: SUBSCRIBE;
    }

    div.responsive-picture.picture-1 {
        display: block;
        overflow: visible;
        max-width: 200px;
        width: auto;
        height: auto;
        background-image: url('../socialicons/SS_holdingLogo.jpg');
        background-attachment: scroll;
        background-position: left top;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        background-repeat: no-repeat;
        opacity: .99;

        background-blend-mode: normal;
    }

    div.responsive-picture.picture-1 > picture {
        height: auto;
    }
}

@media screen and (min-width: 64rem) {
    /* Text Elements */

    h2.child-title {
        font-family: 'Montserrat', cursive;
    }

    h2 span.heading-text-1 {
        color: #1e24ed;
    }

    p.paragraph.paragraph-1 {
        color: #0a0a14;
        font-family: 'Montserrat', cursive;
    }

    p.paragraph span.paragraph-text-1 {
        color: #1919f6;
    }

    /* Layout Elements */

    .container.box.extra {
        background-color: transparent;
    }

    .container.box.social {
        background-color: transparent;
    }

    div.responsive-picture.picture-1 {
        max-width: 200px;
        width: auto;
    }

    a.social-image.social-icon-1 {
        float: right;
        margin-top: 8px;
        margin-right: 6px;
        padding-right: 0;
    }
}